:host {
  --li-height: 34px;
  --li-indent: 15px;
  --ul-indent: 5px;

  --trace-color: #666;
  --trace-width: 1px;
}

ul {
  padding-left: var(--ul-indent);
  list-style: none;
}

li {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: var(--li-indent);
}

span {
  height: var(--li-height);
}

li:before {
  position: absolute;
  top: calc(var(--li-height) / 2);
  left: 0;
  width: calc(var(--li-indent) - var(--ul-indent));
  height: var(--trace-width);
  margin: auto;
  content: '';
  background-color: var(--trace-color);
}

li:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--trace-width);
  height: 100%;
  content: '';
  background-color: var(--trace-color);
}

li:last-child:after {
  height: calc(var(--li-height) / 2);
}
