::ng-deep .app-icon.folder {
  fill: #334154;
  stroke: black;
}

.expanded ::ng-deep .app-icon.folder {
  fill: var(--color-primary-1);
}

.no-content {
  display: flex;
  padding-left: calc((var(--level) + 1) * var(--indent));
  gap: 4px;
  font-size: 80%;
  color: darkgray;
}
