<div *ngIf="folder">
  <div class="explorer-list-item" [style.--level]="level" (click)="toggleExpanded()" [class.expanded]="expanded">
    <app-icon name="folder" class="icon"></app-icon>
    <span>{{ folder.name }}</span>
  </div>
  <div [hidden]="!expanded">
    <app-explorer-folder *ngFor="let folder of folder.childFolders" [folder]="folder" [root]="root" [level]="level + 1">
    </app-explorer-folder>
    <app-explorer-note *ngFor="let note of folder.childNotes" [note]="note" [folder]="folder" [root]="root" [level]="level + 1">
    </app-explorer-note>
    <ng-container *ngIf="!hasContent; then noContent"></ng-container>
  </div>
</div>

<ng-template #noContent>
  <div [style.--level]="level" class="no-content">
    <div class="icon"></div>
    <span>nothing to see here ┗|｀O′|┛</span>
  </div>
</ng-template>
