.explorer-list-item {
  padding-left: calc((var(--level) + 1) * var(--indent));
  display: flex;
  gap: 4px;
}

.explorer-list-item:hover {
  background-color: deeppink;
  cursor: pointer;
  user-select: none;
}