:root {
  --color-background-1: #0d1117;
  --color-background-2: #12161d;
  --color-background-3: #161b22;

  --color-primary-1: #2c6fc7;

  --color-text-1: #f0f6fc;
  --color-text-2: #c9d1d9;
  --color-text-3: #8b949e;
}
