<div id="editor-wrapper" class="newt-editor">
  <div class="toolbar">
    <span class="ql-formats">
      <select class="ql-header newt-select">
        <option value="1">Heading 1</option>
        <option value="2">Heading 2</option>
        <option value="3">Heading 3</option>
        <option value="4">Heading 4</option>
        <option selected>Normal</option>
      </select>
      <!-- <select class="ql-font">
        <option selected>Sailec Light</option>
        <option value="sofia">Sofia Pro</option>
        <option value="slabo">Slabo 27px</option>
        <option value="roboto">Roboto Slab</option>
        <option value="inconsolata">Inconsolata</option>
        <option value="ubuntu">Ubuntu Mono</option>
      </select> -->
    </span>
    <span class="ql-formats">
      <button class="ql-bold"></button>
      <button class="ql-italic"></button>
      <button class="ql-underline"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-list" value="ordered"></button>
      <button class="ql-list" value="bullet"></button>
      <select class="ql-align">
        <option label="left" selected></option>
        <option label="center" value="center"></option>
        <option label="right" value="right"></option>
        <option label="justify" value="justify"></option>
      </select>
    </span>
    <span class="ql-formats">
      <button class="ql-link"></button>
      <button class="ql-image"></button>
      <button class="ql-video"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-code-block"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-clean"></button>
    </span>
  </div>
  <div #editor></div>
</div>
