@import './reset.css';
@import './styles/variables.css';

* {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background-color: var(--color-background-1);
  color: var(--color-text-1);
  overflow-y: hidden;
}